/* Reglas de CSS para Maquetar una Pagina Basica con Estructura HTML5 y CSS*/
/*Creado por Ing. Juancito Peña*/

/* 1ERA Regla Marenes 0 a todo el Body y su contenido, iniciamos en cero todo*/

* {
    margin: 0;
    padding: 0;
}

/* 2DA Regla para el Body */

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:gray;
}

/* 3ERA Regla para el Contenedor de mi Pagina Web */

.container {
    width: 70%;
    height: 100%;
    color: black;
    margin: 0px auto;
    border-radius: 5px;
    border: 5px solid darkblue;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 4TA Regla para el Encabezado o Header */

header{
    color: black;
    font-size: 30px;
    text-align: center;
    background: whitesmoke;
    width:100%;
    height:100%;
    text-align: center;
    line-height:100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*5TA REGLA */

 nav{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background-color:darkorange;
    color: white;
} 

  /* 6TA Regla */

 #contenido{
    width:70%;
    height:100%;
    background-color: darkred;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:100px;
}
  /* 7MA Regla */
/* 
article{
    width:95%;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:100px;
    background-color: rgb(9, 136, 26);
} */

  /* 8VA Regla */

#contenido h2{
    font-size: 30px;
    text-align: center;
    line-height: 600px;
    color: white;
}

  /* 9NA Regla */ 

aside{
    width:29%;
    height:600px;
    background-color: darkgreen;
    float: right;
    margin-top: 10px;

}

  /* 9NA Regla */

aside h2{
    font-size: 20px;
    text-align: center;
    line-height: 400px;
    color: white;
}

.clearfix{
    clear: both;
} 

  /* Sectima Regla para el estiolo  del footer */

footer{
    background-color: darkcyan;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border-top: 1px solid darkblue;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
}


/* 10MA Regla para el estilo del movil de 300 a 768  */

@media (max-width: 768px) and (min-width: 300px) {
       
/* 1ERA Regla Marenes 0 a todo el Body y su contenido, iniciamos en cero todo*/

* {
  margin: 0;
  padding: 0;
}

/* 2DA Regla para el Body */

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
}

/* 3ERA Regla para el Contenedor de mi Pagina Web */

.container {
  width: 95%;
  height: 100%;
  color: black;
  margin: 0px auto;
  border-radius: 5px;
  border: 5px solid darkblue;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
  margin-top: 1px;
  margin-bottom: 1px;
}

/*5TA REGLA */

nav{
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: darkorange;
  color: white;
} 

/* 6TA Regla */

#contenido{
  width:100%;
  height:100%;
  background-color: darkred;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height:100px;
}

aside{
  width:100%;
  height:600px;
  background-color: darkgreen;
  float: right;
  margin-top: 10px;

}
}
  

/* 10MA Regla para el estilo del movil de 300 a 768  */

@media (max-width: 1024px) and (min-width: 769px) {
       
  /* 1ERA Regla Marenes 0 a todo el Body y su contenido, iniciamos en cero todo*/
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /* 2DA Regla para el Body */
  
  body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
  }
  
  /* 3ERA Regla para el Contenedor de mi Pagina Web */
  
  .container {
    width: 95%;
    height: 100%;
    color: black;
    margin: 0px auto;
    border-radius: 5px;
    border: 5px solid darkblue;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  /*5TA REGLA */
  
  nav{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background-color:darkorange;
    color: white;
  } 
  
  /* 6TA Regla */
  
  #contenido{
    width:100%;
    height:100%;
    background-color: darkred;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:100px;
  }
  
  aside{
    width:100%;
    height:600px;
    background-color: darkgreen;
    float: right;
    margin-top: 10px;
  
  }
  }
    
  